# This Notebook offers a general format of accessing a dataset, modify and then upload the updated dataset uisng the new version of pydsdb package

## 1. A little bit of set-up

#### Please insert your inputs

In [1]:
DSID = 'DS000015647'    # the dataset Id based on what you received when you submitted your dataset
Version = '1'   # the version of your dataset
DEV = False    # A boolean based on whether your dataset saved to the dev server
your_experiment = "raw_qc" # A string that is a key known for our desired experimnet that you wish to work on
New_experiment = "new" # A string that is a key known for the updated data saved by that that name

In [2]:
import pydsdb
import multiassayexperiment as mae
import singlecellexperiment as sce
import pandas as pd
from gpauth import GPAuth

In [3]:
# to ignore SSL errors
from os import environ
environ["GP_DISABLE_SSL_VERIFICATION"] = "True"

In [4]:
%load_ext autoreload
%autoreload 2

#### Check the versions to be compatible with what we want

In [5]:
pydsdb.__version__

'1.3.4'

In [6]:
mae.__version__

'0.2.4'

## 2. Access and collect Dataset

In [7]:
dm = pydsdb.get_dataset(DSID, version=Version, dev=DEV)

08:13:02 -> Collating dataset: 'DS000015647' metadata.
08:13:02 -> Retrieving all project: 'DS000015647@1' metadata.

08:13:03 -> Reading: 'DS000015647'.

08:13:03 -> Reading: 'DS000015647 -> Experiment: feature'.

/apps/user/gpy/envs/dev/GPy39/lib/python3.9/site-packages/multiassayexperiment/MultiAssayExperiment.py:127: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  for group, rows in agroups:

#### The output is a MultiAssayExperiment object

In [8]:
print(dm)

Class MultiAssayExperiment with 1 experiments and 97 samples
  experiments:
    feature: Class SummarizedExperiment with 58307 features and 97 samples
  assays: ['counts']
  features: Index([], dtype='object')
  sample data: Index([], dtype='object')

#### Object.experiments is a dictionary of experimnets with SingleCellExperiment object

In [9]:
print(dm.experiments)

{'feature': <summarizedexperiment.SummarizedExperiment.SummarizedExperiment object at 0x2aab025e9d90>}

#### You can see a list of all experiments to select from them

In [10]:
list(dm.experiments.keys())

['feature']

In [11]:
list(dm.experiments.keys())[0]

'feature'

#### Set your desired experimnet that you wish to work on

In [12]:
#I = input("Please select a number from the list above")

In [13]:
your_experiment = list(dm.experiments.keys())[0]

In [14]:
print(dm.experiments[your_experiment])

Class SummarizedExperiment with 58307 features and 97 samples
  assays: ['counts']
  features: Index([], dtype='object')
  sample data: Index([], dtype='object')

#### Convert SingleCellExperiment object to AnnData object

In [15]:
adata, adatas = dm.experiments[your_experiment].toAnnData(alts=True)

TypeError: toAnnData() got an unexpected keyword argument 'alts'

In [44]:
adata.obs

,Sample,Barcode,DemuxType_hashing,DemuxAssignment_hashing,Treatment,Cellline,n_genes_by_counts,total_counts,total_counts_mt,pct_counts_mt,total_counts_ribo,pct_counts_ribo,qc_pass,S_score,G2M_score,phase
SAM24437819_rep1-AAACCCAAGAGAGGTA,SAM24437819_rep1,AAACCCAAGAGAGGTA,doublet,"E3,D7,D2,D6",NaN,NaN,3964,16353,433,2.647832,5336,32.630098,False,-1.166667,0.533321,G2M
SAM24437819_rep1-AAACCCAAGGAGTCTG,SAM24437819_rep1,AAACCCAAGGAGTCTG,doublet,"D5,D6",NaN,NaN,4742,16893,1021,6.043924,4535,26.845439,False,-0.961240,1.384925,G2M
SAM24437819_rep1-AAACCCAAGGTGAGCT,SAM24437819_rep1,AAACCCAAGGTGAGCT,singlet,SW1417_Control,Control,SW1417,1186,1918,346,18.039625,32,1.668405,False,0.069767,0.038028,S
SAM24437819_rep1-AAACCCAAGTAGTGCG,SAM24437819_rep1,AAACCCAAGTAGTGCG,singlet,SKCO1_Day6,Day6,SKCO1,2888,8414,350,4.159734,2623,31.174233,True,-0.655039,-0.473678,G1
SAM24437819_rep1-AAACCCACAAGTTGGG,SAM24437819_rep1,AAACCCACAAGTTGGG,doublet,"D7,E3",NaN,NaN,2798,7454,18,0.241481,1903,25.529917,False,-0.647287,-0.337855,G1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SAM24413583-TTGCATTAGGTTCTAC,SAM24413583,TTGCATTAGGTTCTAC,doublet-singlet,RCM1_Control,Control,RCM1,3626,12968,709,5.467304,3447,26.580814,True,0.106168,-0.439328,S
SAM24413583-TTGCTGCGTGTCATTG,SAM24413583,TTGCTGCGTGTCATTG,doublet-singlet,RCM1_Control,Control,RCM1,2499,8251,602,7.296085,3216,38.977093,True,-0.123124,-0.664217,G1
SAM24413583-TTGGGATCAACTGAAA,SAM24413583,TTGGGATCAACTGAAA,doublet-singlet,RCM1_Control,Control,RCM1,4222,18003,884,4.910293,5551,30.833752,True,-0.836743,-1.304655,G1
SAM24413583-TTTACTGCACGAAGAC,SAM24413583,TTTACTGCACGAAGAC,doublet-singlet,RCM1_Control,Control,RCM1,4628,23298,1843,7.910551,8386,35.994507,True,-1.176169,-1.152832,G1
SAM24413583-TTTAGTCCAAGTCGTT,SAM24413583,TTTAGTCCAAGTCGTT,doublet-singlet,RCM1_Control,Control,RCM1,2659,9487,1233,12.996732,3181,33.530094,True,-0.836432,-1.458856,G1

In [40]:
list(adatas.keys())

AttributeError: 'NoneType' object has no attribute 'keys'

In [33]:
adata.obs[adata.obs.index=="SAM24426528_Replicate1-TTTGTTGTCTTCTCAA-1"]

Empty DataFrame
Columns: [Sample, Barcode, demux_type, assignment, cell_line, lib, HTO]
Index: []

In [60]:
len(adata.obs["Barcode"].unique().tolist())

126731

In [63]:
adata.obs["UMI"] = adata.obs.index

In [64]:
adata

AnnData object with n_obs × n_vars = 128249 × 36603
    obs: 'Sample', 'Barcode', 'demux_type', 'assignment', 'cell_line', 'lib', 'UMI'
    var: 'ID', 'Symbol', 'Type'
    uns: '.internal'
    layers: 'counts'

In [65]:
len(adata.obs["UMI"].unique().tolist())

128249

#### See a list of all alternative experiments to select from them

In [21]:
list(adatas.keys())

['hashing']

### Checking the dataset

In [22]:
adata.obs.head()

,Sample,Barcode,demux_type,assignment
SAM24438240_rep1-AAACCCAAGACTGAGC,SAM24438240_rep1,AAACCCAAGACTGAGC,singlet,AKPSFULLAPCorganoid_TNKi500nM
SAM24438240_rep1-AAACCCAAGGCCACTC,SAM24438240_rep1,AAACCCAAGGCCACTC,singlet,AKPScontrolorganoid_DMSO
SAM24438240_rep1-AAACCCAAGTAGCATA,SAM24438240_rep1,AAACCCAAGTAGCATA,singlet,AKPScontrolorganoid_DMSO
SAM24438240_rep1-AAACCCACAACCAGAG,SAM24438240_rep1,AAACCCACAACCAGAG,unknown,NaN
SAM24438240_rep1-AAACCCACACCTGAAT,SAM24438240_rep1,AAACCCACACCTGAAT,singlet,AKPSFULLAPCorganoid_TNKi2uM

In [43]:
adata.var_names

Index(['ENSMUSG00000051951', 'ENSMUSG00000089699', 'ENSMUSG00000102331',
       'ENSMUSG00000102343', 'ENSMUSG00000025900', 'ENSMUSG00000025902',
       'ENSMUSG00000104238', 'ENSMUSG00000104328', 'ENSMUSG00000033845',
       'ENSMUSG00000025903',
       ...
       'ENSMUSG00000096550', 'ENSMUSG00000094172', 'ENSMUSG00000094887',
       'ENSMUSG00000091585', 'ENSMUSG00000095763', 'ENSMUSG00000095523',
       'ENSMUSG00000095475', 'ENSMUSG00000094855', 'ENSMUSG00000095019',
       'ENSMUSG00000095041'],
      dtype='object', length=32285)

In [47]:
type(adata.var["Symbol"][0])

str

In [23]:
adata.uns

OverloadedDict, wrapping:
	{'genome': 'mm10', 'modality': 'rna', 'uns_dict': {'SAM24438240_rep1': {'uid': 'mm10-rna'}, 'SAM24438240_rep2': {'uid': 'mm10-rna'}, 'SAM24438240_rep3': {'uid': 'mm10-rna'}}, 'uid': 'mm10-rna', 'adt_summary': {'LIB5475290_SAM24438240': 'Total number of reads: 37570906\nNumber of reads with valid cell barcodes: 36599598 (97.41%)\nNumber of reads with valid feature barcodes: 23546694 (62.67%)\nNumber of reads with valid cell and feature barcodes: 23020966 (61.27%)\n\nSection LIB5475290_SAM24438240.hashing\nNumber of valid cell barcodes: 809441\nNumber of valid reads (with matching cell and feature barcodes): 23020966\nMean number of valid reads per cell barcode: 28.44\nNumber of valid UMIs (with matching cell and feature barcodes): 19429600\nMean number of valid UMIs per cell barcode: 24.00\nSequencing saturation: 15.60%\n', 'LIB5475292_SAM24438240': 'Total number of reads: 46870056\nNumber of reads with valid cell barcodes: 45730337 (97.57%)\nNumber of reads with valid feature barcodes: 29795845 (63.57%)\nNumber of reads with valid cell and feature barcodes: 29176327 (62.25%)\n\nSection LIB5475292_SAM24438240.hashing\nNumber of valid cell barcodes: 437020\nNumber of valid reads (with matching cell and feature barcodes): 29176327\nMean number of valid reads per cell barcode: 66.76\nNumber of valid UMIs (with matching cell and feature barcodes): 24260325\nMean number of valid UMIs per cell barcode: 55.51\nSequencing saturation: 16.85%\n', 'LIB5475291_SAM24438240': 'Total number of reads: 47385356\nNumber of reads with valid cell barcodes: 46162390 (97.42%)\nNumber of reads with valid feature barcodes: 29832216 (62.96%)\nNumber of reads with valid cell and feature barcodes: 29167118 (61.55%)\n\nSection LIB5475291_SAM24438240.hashing\nNumber of valid cell barcodes: 826033\nNumber of valid reads (with matching cell and feature barcodes): 29167118\nMean number of valid reads per cell barcode: 35.31\nNumber of valid UMIs (with matching cell and feature barcodes): 24074170\nMean number of valid UMIs per cell barcode: 29.14\nSequencing saturation: 17.46%\n'}, '.internal': {'metadata': '{\n  "$schema": "single_cell_experiment/v2.json",\n  "is_child": true,\n  "path": "",\n  "single_cell_experiment": {\n    "reduced_dimensions": {\n      "resource": {\n        "path": "",\n        "type": "local"\n      }\n    }\n  },\n  "summarized_experiment": {\n    "annotation": {\n      "id": "GMTY167:GRCm38-exonic@REVISION-1",\n      "namespace": [\n        {\n          "id": "GRCm38",\n          "type": "genome"\n        },\n        {\n          "id": "98",\n          "type": "ensembl"\n        }\n      ],\n      "organism": [\n        "Mus musculus"\n      ],\n      "type": "genomitory"\n    },\n    "assays": [\n      {\n        "name": "pydsdb-dummy",\n        "resource": {\n          "path": "",\n          "type": "local"\n        }\n      }\n    ],\n    "column_data": {\n      "resource": {\n        "path": "",\n        "type": "local"\n      }\n    },\n    "description": "Gene expression counts for filtered barcodes from the Cumulus CellRanger workflow.",\n    "dimensions": [\n      0,\n      0\n    ],\n    "row_data": {\n      "resource": {\n        "path": "",\n        "type": "local"\n      }\n    },\n    "sources": [\n      {\n        "id": "gs://gred-melo-carlos-lab/NGS5400/SAM24438240",\n        "name": "Cumulus"\n      },\n      {\n        "id": "n/a",\n        "name": "pydsdb",\n        "version": "1.1.1"\n      }\n    ],\n    "technology": {\n      "details": "10x Genomics",\n      "name": "scRNA-seq",\n      "terms": [\n        {\n          "id": "EFO:0008913",\n          "source": "Experimental Factor Ontology",\n          "version": "v3.39.1"\n        }\n      ]\n    },\n    "title": "Filtered gene expression counts"\n  }\n}', 'paths': ['experiment-1/experiment.json', 'experiment-1/assay-1/matrix.h5', 'experiment-1/coldata/simple.csv.gz', 'experiment-1/coldata/column1/levels.csv.gz', 'experiment-1/metadata/list.gz', 'experiment-1/dimreds/values.h5'], 'assay_nums': {'counts': 1}, 'alt_nums': {'hashing': 1}, 'update_ready': False}}
With overloaded keys:
	['neighbors'].

#### In a new version of AnnData adata.X is None, so compatible to this version we define it with layers['counts'] and and pass it to adata.X to be compatible with our scripts

In [23]:
adata.X = adata.layers['counts']

In [24]:
adata.X

<37071x36603 sparse matrix of type '<class 'numpy.uint16'>'
	with 75790143 stored elements in Compressed Sparse Row format>

## 3. Modify the anndata using a function (any operations you want)

In [27]:
def ADATA_OPS(adata, adatas):
    adata.obs["pct_counts_gene"]=adata.obs["Barcode"]+adata.obs["demux_type"]
    return adata, adatas

In [28]:
adata_updated, adatas_updated = ADATA_OPS(adata, adatas)

In [29]:
adata_updated.obs

,Sample,Barcode,demux_type,assignment,pct_counts_gene
SAM24424070_Replicate1-AAACCCAAGACGTCGA-1,SAM24424070_Replicate1,AAACCCAAGACGTCGA-1,doublet,"ENSG00000047230_1,ENSG00000132517_4",AAACCCAAGACGTCGA-1doublet
SAM24424070_Replicate1-AAACCCAAGAGATTCA-1,SAM24424070_Replicate1,AAACCCAAGAGATTCA-1,doublet,"ENSG00000173085_1,ENSG00000205846_3",AAACCCAAGAGATTCA-1doublet
SAM24424070_Replicate1-AAACCCAAGCCAGACA-1,SAM24424070_Replicate1,AAACCCAAGCCAGACA-1,doublet,"ENSG00000175322_4,ENSG00000236782_1",AAACCCAAGCCAGACA-1doublet
SAM24424070_Replicate1-AAACCCAAGCGATGCA-1,SAM24424070_Replicate1,AAACCCAAGCGATGCA-1,singlet,ENSG00000176922_4,AAACCCAAGCGATGCA-1singlet
SAM24424070_Replicate1-AAACCCAAGGATATGT-1,SAM24424070_Replicate1,AAACCCAAGGATATGT-1,singlet,ENSG00000139291_4,AAACCCAAGGATATGT-1singlet
...,...,...,...,...,...
SAM24424071_Replicate1-TTTGTTGTCGCCGAAC-1,SAM24424071_Replicate1,TTTGTTGTCGCCGAAC-1,singlet,ENSG00000116039_1,TTTGTTGTCGCCGAAC-1singlet
SAM24424071_Replicate1-TTTGTTGTCGCGAAGA-1,SAM24424071_Replicate1,TTTGTTGTCGCGAAGA-1,doublet,"ENSG00000163933_3,ENSG00000176219_3",TTTGTTGTCGCGAAGA-1doublet
SAM24424071_Replicate1-TTTGTTGTCGCTGTCT-1,SAM24424071_Replicate1,TTTGTTGTCGCTGTCT-1,singlet,ENSG00000166847_2,TTTGTTGTCGCTGTCT-1singlet
SAM24424071_Replicate1-TTTGTTGTCGTCACCT-1,SAM24424071_Replicate1,TTTGTTGTCGTCACCT-1,doublet,"ENSG00000164332_2,ENSG00000203795_3,ENSG000001...",TTTGTTGTCGTCACCT-1doublet
SAM24424071_Replicate1-TTTGTTGTCTGGGTCG-1,SAM24424071_Replicate1,TTTGTTGTCTGGGTCG-1,singlet,ENSG00000163605_1,TTTGTTGTCTGGGTCG-1singlet

## 4. Upload Preparation

#### prepare experiment level metadata

In [30]:
# title for the experiment
title = "Siavash test upload"
# description for the experiment
description = "Siavash test upload; this should be gone"
# genome information
name_space = [{"id": "GRCh38", "type": "genome"}]
organism = "human"
# any identifiers you want to attach to the experiment, usually GEO ids, publication etc.
sources = [{"id": "Siavash-1234", "name": "Geo-ID"}]
# technology name; this is a controlled vocabulary
tech_name = "scRNA-seq"

In [31]:
sce_metadata = pydsdb.create_sce_metadata(
    description=description,
    name_space=name_space,
    organism=organism,
    sources=sources,
    technology_name=tech_name,
    title=title)

#### convert anndata to a SingleCellExperiment object

#### Scenario I: not need alt ernative experiments

In [32]:
tse_2 = sce.io.anndata.fromAnnData(adata_updated)

In [33]:
print(tse_2)

        Class SingleCellExperiment with 36603 features and 37071 cells
          mainExperimentName: None
          assays: ['counts', 'X']
          features: Index(['ID', 'Symbol', 'Type'], dtype='object')
          cell metadata: Index(['Sample', 'Barcode', 'demux_type', 'assignment', 'pct_counts_gene'], dtype='object')
          reduced dimensions: []
          alternative experiments: None

#### attach experiment level metadata to SingleCellExperiment objects

In [34]:
pydsdb.add_metadata(tse_2, sce_metadata)

INFO: Experiment already contained metadata, overwriting.

#### Create a variable which is a dictionary for alternative experiments

In [37]:
tse_alt=[]
tse_alt_names =[]

In [38]:
for i, (k, v) in enumerate(adatas_updated.items()):
    tse_alt.append(sce.io.anndata.fromAnnData(v))
    tse_alt_names.append(k)

In [39]:
tse_alt

[<singlecellexperiment.SingleCellExperiment.SingleCellExperiment at 0x2aaafed643a0>,
 <singlecellexperiment.SingleCellExperiment.SingleCellExperiment at 0x2aaafed64d00>]

In [40]:
tse_alt_names

['crispr', 'hashing']

#### Create a variable which is a dictionary for alternative experiments

In [41]:
for i in range(len(tse_alt)):
    pydsdb.add_metadata(tse_alt[i], sce_metadata)

INFO: Experiment already contained metadata, overwriting.

INFO: Experiment already contained metadata, overwriting.

In [42]:
AltExps = dict(zip(tse_alt_names, tse_alt))

In [43]:
AltExps

{'crispr': <singlecellexperiment.SingleCellExperiment.SingleCellExperiment at 0x2aaafed643a0>,
 'hashing': <singlecellexperiment.SingleCellExperiment.SingleCellExperiment at 0x2aaafed64d00>}

#### Creating singlecellexperiment object for upload preparation

In [46]:
tse = sce.SingleCellExperiment(
    assays={"counts": adata.layers['counts'].T}, rowData=adata.var, colData=adata.obs,
    reducedDims={}, altExps=AltExps)

In [47]:
print(tse)

        Class SingleCellExperiment with 36603 features and 37071 cells
          mainExperimentName: None
          assays: ['counts']
          features: Index(['ID', 'Symbol', 'Type'], dtype='object')
          cell metadata: Index(['Sample', 'Barcode', 'demux_type', 'assignment', 'pct_counts_gene'], dtype='object')
          reduced dimensions: []
          alternative experiments: ['crispr', 'hashing']

#### attach experiment level metadata to a SingleCellExperiment object

In [48]:
pydsdb.add_metadata(tse, sce_metadata)

In [49]:
tse.metadata

{'.internal': ExperimentUpdateInfo(metadata='{\n  "$schema": "single_cell_experiment/v2.json",\n  "is_child": true,\n  "path": "",\n  "single_cell_experiment": {\n    "reduced_dimensions": {\n      "resource": {\n        "path": "",\n        "type": "local"\n      }\n    }\n  },\n  "summarized_experiment": {\n    "annotation": {\n      "namespace": [\n        {\n          "id": "GRCh38",\n          "type": "genome"\n        }\n      ],\n      "organism": [\n        "Homo sapiens"\n      ],\n      "type": "none"\n    },\n    "assays": [\n      {\n        "name": "pydsdb-dummy",\n        "resource": {\n          "path": "",\n          "type": "local"\n        }\n      }\n    ],\n    "column_data": {\n      "resource": {\n        "path": "",\n        "type": "local"\n      }\n    },\n    "description": "Siavash test upload; this should be gone",\n    "dimensions": [\n      0,\n      0\n    ],\n    "row_data": {\n      "resource": {\n        "path": "",\n        "type": "local"\n      }\n    },\n    "sources": [\n      {\n        "id": "Siavash-1234",\n        "name": "Geo-ID"\n      }\n    ],\n    "technology": {\n      "name": "scRNA-seq",\n      "terms": [\n        {\n          "id": "EFO:0008913",\n          "source": "Experimental Factor Ontology",\n          "version": "v3.39.1"\n        }\n      ]\n    },\n    "title": "Siavash test upload"\n  }\n}', paths=[], assay_nums=None, alt_nums=None, update_ready=True)}

### Convert SingleCellExperiment object to MAE object

#### Add new data to the MAE

In [58]:
maeobj = mae.makeMAE({New_experiment: tse})

/apps/user/gpy/envs/dev/GPy39/lib/python3.9/site-packages/multiassayexperiment/MultiAssayExperiment.py:112: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  for group, rows in agroups:

In [59]:
# these two are needed if new experiment(s) added
column_data = pd.concat([maeobj.colData, dm.colData])
sample_map = pd.concat([maeobj.sampleMap, dm.sampleMap])

In [60]:
new_mae = mae.MultiAssayExperiment(
    {**dm.experiments,New_experiment: tse_2},
    column_data,
    sample_map,
    dm.metadata
)

/apps/user/gpy/envs/dev/GPy39/lib/python3.9/site-packages/multiassayexperiment/MultiAssayExperiment.py:112: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  for group, rows in agroups:

In [61]:
new_mae.metadata

{'.internal': {'metadata': '{"path": "dataset.json", "dataset": {"experiments": [{"name": "main", "resource": {"type": "local", "path": "experiment-1/experiment.json"}}], "sample_mapping": {"resource": {"type": "local", "path": "sample_mapping/simple.csv.gz"}}, "column_data": {"resource": {"type": "local", "path": "sample_data/simple.csv.gz"}}, "title": "Recursion - Genome-wide Library Pilot 1", "description": "The goal of the experiment is to confirm the sgRNA amplification of the Recursion Genome-wide library. We have two conditions to compare: (1) DLD-1-Cas9 cells were infected by sub-library 2 for 10 days and either directly loaded on the 10x channel (lenti group). 2) the same cells were infected by sub-library 2 for 6 days followed by Cas9 RNP transfection. The cells were then cultured for 4 more days and loaded on 10x 4 days post transfection.", "authors": ["melocars"], "creation_date": "2022-12-16T17:57:54+00:00"}, "$schema": "dataset/v2.json"}',
  'paths': ['dataset.json',
   'sample_data/simple.csv.gz',
   'sample_mapping/simple.csv.gz'],
  'column_data':                         has.crispr  has.hashing
  SAM24424070_Replicate1        True         True
  SAM24424071_Replicate1        True         True,
  'sample_mapping':       assay                 primary                                    colname
  0      main  SAM24424070_Replicate1  SAM24424070_Replicate1-AAACCCAAGACGTCGA-1
  1      main  SAM24424070_Replicate1  SAM24424070_Replicate1-AAACCCAAGAGATTCA-1
  2      main  SAM24424070_Replicate1  SAM24424070_Replicate1-AAACCCAAGCCAGACA-1
  3      main  SAM24424070_Replicate1  SAM24424070_Replicate1-AAACCCAAGCGATGCA-1
  4      main  SAM24424070_Replicate1  SAM24424070_Replicate1-AAACCCAAGGATATGT-1
  ...     ...                     ...                                        ...
  37066  main  SAM24424071_Replicate1  SAM24424071_Replicate1-TTTGTTGTCGCCGAAC-1
  37067  main  SAM24424071_Replicate1  SAM24424071_Replicate1-TTTGTTGTCGCGAAGA-1
  37068  main  SAM24424071_Replicate1  SAM24424071_Replicate1-TTTGTTGTCGCTGTCT-1
  37069  main  SAM24424071_Replicate1  SAM24424071_Replicate1-TTTGTTGTCGTCACCT-1
  37070  main  SAM24424071_Replicate1  SAM24424071_Replicate1-TTTGTTGTCTGGGTCG-1

  [37071 rows x 3 columns],
  'exp_nums': {'main': 1},
  'permissions_info': {'owners': ['melocars'],
   'read_access': 'public',
   'scope': 'project',
   'write_access': 'owners'},
  'update_ready': True}}

## 5. Upload the data

### Initialize the upload

In [62]:
upload = pydsdb.Upload(new_mae)

ValidationError: 1 validation error for ColumnsField
values -> 3
  str type expected (type=type_error.str)

#### representations of the dataset in a staging directory. If you want to explore or finalize the data and metadata files that were generated

In [42]:
upload.staging_dir

PosixPath('/local/67024469/tmpd3lt7azn')

### Set Permissions

In [43]:
permissions = pydsdb.create_permissions_info()
print(permissions)

owners=['ghaffars'] read_access=<Accessors.PUBLIC: 'public'> scope=<Scopes.PROJECT: 'project'> viewers=None write_access=<Accessors.OWNERS: 'owners'>

#### authenticating interactively: Please insert your password

In [44]:
auth = GPAuth()

Authenticating User: 'ghaffars'

 ········

Successfully authenticated.

### Update the existing dataset

In [45]:
dsid, version = upload.submit(auth,permissions, 'test-DS000004232', dev=True, test=True)

09:37:46 -> Retrieving project: test-DS000004232@NUM-15 metadata.
09:37:48 -> Metadata cached.
09:37:48 -> Collating project resources.
09:37:48 -> Validating JSON metadata.
09:37:49 -> Attempting upload.

 48%|███████████████████▎                    | 26/54 [00:02<00:03,  8.79file/s]

Clearing upload info.
09:38:13 -> Upload completed.
Processing
Processing
Upload successful, your DSID is 'test-DS000004232' and version is: '16'. Also written to 'upload_info.json' in staging dir.

In [46]:
dsid, version

('test-DS000004232', '16')

## 6. Retrieve back the dataset for checking purpose

In [47]:
dss = pydsdb.get_dataset(dsid, dev=True, version='16')

09:39:57 -> Collating dataset: 'test-DS000004232' metadata.

09:39:59 -> Reading: 'test-DS000004232'.

Column Data -> Data Frame: 100%|████████████████████████████████████████| 70.0/70.0 [00:00<00:00, 15.1kB/s]

09:40:00 -> Reading: 'test-DS000004232 -> Experiment: main'.

09:40:00 -> Reading: 'test-DS000004232 -> Experiment: main -> Alt. Exp.: crispr'.

Alt. Exp.: crispr -> Reduced Dimensions -> NDArrays: 100%|████████████████████████████████████████| 800/800 [00:00<00:00, 220kB/s]
Alt. Exp.: crispr -> Assay: counts -> Sparse Matrix: 100%|████████████████████████████████████████| 4.64M/4.64M [00:01<00:00, 3.15MB/s]
Alt. Exp.: crispr -> Column Data -> Data Frame: 100%|████████████████████████████████████████| 164k/164k [00:00<00:00, 1.57MB/s]
Alt. Exp.: crispr -> Row Data -> Data Frame: 100%|████████████████████████████████████████| 51.8k/51.8k [00:00<00:00, 11.7MB/s]
Experiment: main -> Reduced Dimensions -> NDArrays: 100%|████████████████████████████████████████| 800/800 [00:00<00:00, 225kB/s]
Experiment: main -> Assay: counts -> Sparse Matrix: 100%|████████████████████████████████████████| 303M/303M [00:57<00:00, 5.24MB/s]
Experiment: main -> Column Data -> Data Frame: 100%|████████████████████████████████████████| 1.42M/1.42M [00:00<00:00, 9.09MB/s]
Experiment: main -> Row Data -> Data Frame: 100%|████████████████████████████████████████| 992k/992k [00:00<00:00, 9.38MB/s]

09:41:05 -> Reading: 'test-DS000004232 -> Experiment: new'.

Experiment: new -> Reduced Dimensions -> NDArrays: 100%|████████████████████████████████████████| 800/800 [00:00<00:00, 278kB/s]
Experiment: new -> Assay: counts -> Sparse Matrix: 100%|████████████████████████████████████████| 303M/303M [00:38<00:00, 7.86MB/s]
Experiment: new -> Assay: X -> Sparse Matrix: 100%|████████████████████████████████████████| 303M/303M [00:24<00:00, 12.2MB/s]
Experiment: new -> Column Data -> Data Frame: 100%|████████████████████████████████████████| 1.77M/1.77M [00:00<00:00, 3.32MB/s]
Experiment: new -> Row Data -> Data Frame: 100%|████████████████████████████████████████| 992k/992k [00:00<00:00, 6.36MB/s]
Sample Mapping: 100%|████████████████████████████████████████| 525k/525k [00:00<00:00, 9.13MB/s]
/apps/user/gpy/envs/dev/GPy39/lib/python3.9/site-packages/multiassayexperiment/MultiAssayExperiment.py:112: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  for group, rows in agroups:

In [48]:
dss.metadata

{'.internal': {'metadata': '{"dataset": {"authors": ["SG"], "column_data": {"resource": {"path": "column_data/data_frame.csv.gz", "type": "local"}}, "creation_date": "2023-03-24T00:51:37+00:00", "description": "Siavash test upload; this should be gone", "experiments": [{"name": "main", "resource": {"path": "experiment-1/experiment.json", "type": "local"}}, {"name": "new", "resource": {"path": "experiment-2/experiment.json", "type": "local"}}], "sample_mapping": {"resource": {"path": "sample_mapping.csv.gz", "type": "local"}}, "title": "Siavash test upload"}, "is_child": false, "path": "dataset.json", "$schema": "dataset/v2.json"}',
  'paths': ['dataset.json',
   'column_data/data_frame.csv.gz',
   'sample_mapping.csv.gz'],
  'column_data':                                  samples
  unknown_sample_new    unknown_sample_new
  unknown_sample_main  unknown_sample_main,
  'sample_mapping':       assay              primary                                    colname
  0       new   unknown_sample_new  SAM24424070_Replicate1-AAACCCAAGACGTCGA-1
  1       new   unknown_sample_new  SAM24424070_Replicate1-AAACCCAAGAGATTCA-1
  2       new   unknown_sample_new  SAM24424070_Replicate1-AAACCCAAGCCAGACA-1
  3       new   unknown_sample_new  SAM24424070_Replicate1-AAACCCAAGCGATGCA-1
  4       new   unknown_sample_new  SAM24424070_Replicate1-AAACCCAAGGATATGT-1
  ...     ...                  ...                                        ...
  37066  main  unknown_sample_main  SAM24424071_Replicate1-TTTGTTGTCGCCGAAC-1
  37067  main  unknown_sample_main  SAM24424071_Replicate1-TTTGTTGTCGCGAAGA-1
  37068  main  unknown_sample_main  SAM24424071_Replicate1-TTTGTTGTCGCTGTCT-1
  37069  main  unknown_sample_main  SAM24424071_Replicate1-TTTGTTGTCGTCACCT-1
  37070  main  unknown_sample_main  SAM24424071_Replicate1-TTTGTTGTCTGGGTCG-1

  [74142 rows x 3 columns],
  'exp_nums': {'main': 1, 'new': 2}}}

In [49]:
print(dss)

        Class MultiAssayExperiment with 2 experiments and 2 samples
            experiments:
                ["main: \n        Class SingleCellExperiment with 36603 features and 37071 cells\n          mainExperimentName: None\n          assays: ['counts']\n          features: Index(['ID', 'Symbol', 'Type', 'mt', 'ribo', 'n_cells_by_counts',\n       'mean_counts', 'pct_dropout_by_counts', 'total_counts'],\n      dtype='object')\n          cell metadata: Index(['Sample', 'Barcode', 'n_genes_by_counts', 'total_counts',\n       'total_counts_mt', 'pct_counts_mt', 'total_counts_ribo',\n       'pct_counts_ribo'],\n      dtype='object')\n          reduced dimensions: []\n          alternative experiments: ['crispr']\n        ", "new: \n        Class SingleCellExperiment with 36603 features and 37071 cells\n          mainExperimentName: None\n          assays: ['counts', 'X']\n          features: Index(['ID', 'Symbol', 'Type', 'mt', 'ribo', 'n_cells_by_counts',\n       'mean_counts', 'pct_dropout_by_counts', 'total_counts'],\n      dtype='object')\n          cell metadata: Index(['Sample', 'Barcode', 'n_genes_by_counts', 'total_counts',\n       'total_counts_mt', 'pct_counts_mt', 'total_counts_ribo',\n       'pct_counts_ribo', 'pct_counts_gene'],\n      dtype='object')\n          reduced dimensions: []\n          alternative experiments: None\n        "]

In [50]:
adata_2, adatas_2 = dss.experiments["main"].toAnnData(alts=True)

In [51]:
adata_2

AnnData object with n_obs × n_vars = 37071 × 36603
    obs: 'Sample', 'Barcode', 'n_genes_by_counts', 'total_counts', 'total_counts_mt', 'pct_counts_mt', 'total_counts_ribo', 'pct_counts_ribo'
    var: 'ID', 'Symbol', 'Type', 'mt', 'ribo', 'n_cells_by_counts', 'mean_counts', 'pct_dropout_by_counts', 'total_counts'
    uns: '.internal'
    layers: 'counts'

In [52]:
adatas_2

{'crispr': AnnData object with n_obs × n_vars = 37071 × 21091
     uns: '.internal'
     layers: 'counts'}

In [53]:
adata_3, adatas_3 = dss.experiments["new"].toAnnData(alts=True)

In [54]:
adata_3

AnnData object with n_obs × n_vars = 37071 × 36603
    obs: 'Sample', 'Barcode', 'n_genes_by_counts', 'total_counts', 'total_counts_mt', 'pct_counts_mt', 'total_counts_ribo', 'pct_counts_ribo', 'pct_counts_gene'
    var: 'ID', 'Symbol', 'Type', 'mt', 'ribo', 'n_cells_by_counts', 'mean_counts', 'pct_dropout_by_counts', 'total_counts'
    uns: '.internal'
    layers: 'counts', 'X'

In [55]:
adatas_3